<style>

body {
  font-family: Arial, Sans-Serif;
}

a {
  text-decoration: none;
  color: #3ca2c3;
}


a:visited {
  text-decoration: none;
  color: #3ca2c3;
}

a:hover {
  color: red;
}

a:focus {
  color: red;
}

</style>
