<style>

body {
  font-family: Arial, Sans-Serif;
}

p {
  font-family: "Arial", sans-serif;
  color: #808080;
  font-size: 1.25em;
  }  


a {
  text-decoration: none;
  color: #3ca2c3;
}


a:visited {
  text-decoration: none;
  color: #3ca2c3;
}

a:hover {
  color: red;
}

a:focus {
  color: red;
}

</style>
